.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.705);
  }
  
  .modal-main {
    position:fixed;
    background: rgb(170, 214, 98);
    width: 520px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  /* .close-btn {
    position: absolute;
    top:350px;
    left: 33px;
  } */
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }